* {
    box-sizing: border-box;
    margin: 0;
}

.menu {
    list-style-type: none;
    overflow: hidden;
    border-bottom: 1px solid #c4c6c6;
}

.menu-item {
    float: left;
}

.menu-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: #c4c6c6;
}

.main-container {
    display: flex;
}

.main-container {
	border: 1px solid #c4c6c6;
	border-radius: 0.25rem;
	margin: 5rem;
	padding: 1rem;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%; 
}

@media (min-width: 768px) {
    .form-group {
        flex-direction: row;
    }
}

.form-item {
    display: flex;
    border: 1px solid #c4c6c6;
    font-size: 1.5em;
    padding-right: 1rem;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .form-item:first-child {
        margin-bottom: 1rem; 
    }
}


@media (min-width: 768px) {
    .form-item:first-child {
        margin-right: 1rem;
    }
}
