* {
    box-sizing: border-box;
    margin: 0;    
}
.menu {
    list-style-type: none;
    overflow: hidden;
    border-bottom: 1px solid #c4c6c6;
  }
  
  .menu-item {
    float: left;
  }
  
  .menu-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
  }
  
  .menu-item a:hover {
    background-color: #c4c6c6;
  }
