* {
    box-sizing: border-box;
    margin: 0;
}

.menu {
    list-style-type: none;
    margin-bottom: 1rem;
    overflow: hidden;
    border-bottom: 1px solid #c4c6c6;
}

.menu-item {
    float: left;
}

.menu-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: #c4c6c6;
}

.main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #c4c6c6;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 1rem;
}

.container-header {
    margin-left: 1rem;
    padding-left: 1rem;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.form-item {
    display: flex;
    border: 1px solid #c4c6c6;
    font-size: 1.5em;
    padding-right: 1rem;
    width: 100%;
}
